APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:zDo7tdCTrPLZ7XCpzgPo1WH12NKSlEEdd1GodRFrt90=
APP_DEBUG=true
APP_URL=http://192.168.20.102:8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/database/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

# --- CONFIGURATION ACTIVE DIRECTORY ---
LDAP_LOGGING=true
LDAP_CONNECTION=default
LDAP_HOST=192.168.2.101
# Variante UPN (souvent plus compatible)
LDAP_USERNAME="srv_intranet@silvadec.local"
LDAP_PASSWORD="Temps@1234!"
LDAP_BASE_DN="dc=silvadec,dc=local"
LDAP_USER_ATTRIBUTE=samaccountname
